/.idea
/frontend/certs
/frontend/.idea
/frontend/node_modules
/backend/.idea
/backend/.mvn
/backend/target
/backend/src/main/resources
/backend/src/test
/backend/src/main/java/eliott/backend/service/database
